* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-color: rgb(254, 254, 254);
  --subtitle-color: #8f98b1;
  --text-color: #6f738a;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #060810;
  /* background-image: url('../dashboards-bg.png'); */
  background-size: cover;
  background-position: center;
  color: #777;
  padding: 20px;
}

h1 {
  font-size: 4.2rem;
  color: var(--title-color);
  font-weight: 500;
}

h2 {
  font-size: 2.6rem;
  color: var(--subtitle-color);
}

h3 {
  font-size: 2.2rem;
  color: var(--subtitle-color);
}

p {
  color: var(--text-color);
  font-size: 1.6rem;
  color: var(--text-color);
}

.summary-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}

.summary-bar .summary-bar__total__services {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #050b1c;
  border-radius: 10px;
  padding: 0px 20px;
  height: 200px;
}

.summary-bar .summary-bar__total__instances {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 20px;
  background-color: #050b1c;
  padding: 0px 20px;
  height: 200px;
}

.summary-bar .summary-bar__total__services h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin-right: 50px;
}

.summary-bar .summary-bar__total__services h2 span {
  font-size: 7rem;
  font-weight: 700;
}

.summary-bar .summary-bar__total__instances h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.summary-bar .summary-bar__total__instances h2 span {
  font-size: 7rem;
  font-weight: 700;
}

.system-details {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: #050b1c;
  /* background: linear-gradient(90deg, #18213833, #1a294255); */
  /* backdrop-filter: blur(10px) brightness(0.8) saturate(120%); */
  /* box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2); */
  padding: 20px;
  margin: 20px;
}

.system-details ul {
  list-style: none;
}

.system-details ul li {
  color: #aaa;
  font-size: 1.4rem;
}

.system-details ul li span {
  color: #fff;
}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.service-container h1 {
  margin: 10px 20px;
  font-size: 3rem;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}

/* service card */
.service-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #040b1e;
  border-radius: 10px;
  /* box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2); */
  padding: 20px;
  margin: 5px;
}

.service-card .service-card__title__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.service-card .service-card__title__bar span {
  background-color: lime;
  color: black;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 1.3rem;
  font-weight: 500;
}

.service-card h2 {
  color: #fff;
  font-size: 3rem;
}

.service-card p {
  color: #fff;
  font-size: 1.6rem;
}

.service-card p.service-card__id {
  color: #aaa;
  margin-bottom: 10px;
}

.service-card p.service-card__mapping {
  text-decoration: underline;
  color: rgb(39, 104, 236);
}

/* // node card styling */
.nodes-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 5px;
}

.node-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.node-container h1 {
  margin: 10px 20px;
  font-size: 3rem;
}

.node {
  width: 250px;
  height: 180px;
  border-radius: 10px;
  /* background-color: rgb(5, 5, 41); */
  background-color: #040b1e;
  box-shadow: 0 40px 50px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  margin: 10px;
}

.node:hover {
  background-color: #1a2942;
  transition: background-color 0.3s;
}

.node .node__title__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.node .node__title__bar h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}

.node .node__title__bar span {
  background-color: lime;
  color: black;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 1.3rem;
  font-weight: 500;
}

.node ul {
  list-style: none;
  margin-top: 20px;
}

.node ul li {
  color: #aaa;
  font-size: 1.4rem;
}

.node ul li span {
  color: #fff;
}

.response-time {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  background-color: #040b1d;
  border-radius: 10px;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.response-time h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #eef0f4;
}

.response-time .avg-response-time-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.response-time .avg-response-time-header h2 {
  color: #ffffffaa;
  font-size: 2rem;
  font-weight: 400;
}

.response-time .avg-response-time-header h2 span {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
}

.response-time select {
  background-color: #1a294299;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  margin-left: 50px;
}

.response-time select option {
  background-color: #1a294299;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
