<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #000022;
        color: #ddd;
      }
      form {
        background: #000044;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      input[type='text'],
      input[type='password'] {
        width: calc(100% - 22px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
      input[type='submit'] {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
      input[type='submit']:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <form id="login-form">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>
    </form>

    <script>
      document
        .getElementById('login-form')
        .addEventListener('submit', async (e) => {
          e.preventDefault();

          const formData = {
            username: document.getElementById('username').value,
            password: document.getElementById('password').value,
          };
          // post the data to the server
          const response = await fetch('/bitmonx/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
          });
          if (response.redirected) {
            window.location.href = '/bitmonx/dashboard';
          } else {
            alert(data.message);
          }
        });
    </script>
  </body>
</html>
