<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Account Update</title>
    <style>
      html::-webkit-scrollbar {
        width: 10px;
      }

      html::-webkit-scrollbar-thumb {
        background-color: #24272f;
        border-radius: 10px;
      }

      html::-webkit-scrollbar-track {
        background-color: #050916;
      }

      body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
        background: linear-gradient(135deg, #050916, #1a1f2b);
        color: white;
      }

      form {
        width: 350px;
        background-color: #050916;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      label {
        color: #8f98b1;
        font-size: 16px;
        margin-bottom: 5px;
      }

      input[type='text'],
      input[type='password'],
      input[type='email'] {
        width: calc(100% - 22px);
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #444;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        font-size: 1rem;
        transition: border-color 0.3s ease-in-out;
      }

      input[type='text']:focus,
      input[type='password']:focus,
      input[type='email']:focus {
        outline: none;
        border-color: #007bff;
      }

      input[type='text']:hover,
      input[type='password']:hover,
      input[type='email']:hover {
        border-color: #007bff;
      }

      input[type='submit'] {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }

      input[type='submit']:hover {
        background-color: #0056b3;
      }

      .link {
        margin-top: 20px;
        text-align: center;
      }

      .link a {
        color: #007bff;
        text-decoration: none;
      }

      #error,
      #success {
        display: none;
        background-color: #ff000055;
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin: 10px 0;
        text-align: center;
      }

      #success {
        background-color: #00ff0055;
      }

      #form .show {
        display: flex;
      }
    </style>
  </head>
  <body>
    <h1>Admin Account</h1>
    <form id="form">
      <div id="success">
        <p id="success-message"></p>
      </div>
      <div id="error">
        <p id="error-message"></p>
      </div>
      <div class="form-container">
        <div>
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            value="<%= account.username %>"
            required
          />
        </div>
        <div>
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            value="<%= account.email %>"
            required
          />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>

        <div>
          <label for="confirm-password">Confirm Password:</label>
          <input
            type="password"
            id="confirm_password"
            name="confirm-password"
            required
          />
        </div>
        <div>
          <input type="submit" value="Update" />
        </div>

        <div class="link">
          <a href="/bitmonx/dashboard">dashboard</a>
        </div>
      </div>
    </form>

    <script>
      document.getElementById('form').addEventListener('submit', async (e) => {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword =
          document.getElementById('confirm_password').value;

        if (password !== confirmPassword) {
          document.getElementById('error').classList.add('show');
          document.getElementById('error-message').textContent =
            'Passwords do not match';
          return;
        }

        const response = await fetch('/bitmonx/admin/update', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ username, email, password }),
        });
        const data = await response.text();
        console.log(response);

        if (response.ok) {
          document.getElementById('success-message').textContent = data;
          document.getElementById('success').classList.add('show');
          window.location.href = '/bitmonx/dashboard';
        } else {
          document.getElementById('error').classList.add('show');
          document.getElementById('error-message').textContent = data;
        }
      });
    </script>
  </body>
</html>
