* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --title-color: rgb(254, 254, 254);
  --subtitle-color: #8f98b1;
  --text-color: #6f738a;
  --background-color: #050916;
  --card-color: #050b1c;
  --chart-color: #040b1d;
  --dim-color: #53659d;
  --hightlight-color: #70a974;
}

html {
  font-size: 62.5%;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #24272f;
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #050916;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  padding: 5px;
  color: var(--text-color);
}

h1 {
  font-size: 4.2rem;
  color: var(--title-color);
  font-weight: 500;
}

h2 {
  font-size: 2.6rem;
  color: var(--subtitle-color);
}

h3 {
  font-size: 2rem;
  color: var(--subtitle-color);
  font-weight: 400;
}

p {
  color: var(--text-color);
  font-size: 1.6rem;
  color: var(--text-color);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav .nav__links a {
  color: var(--title-color);
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 10px;
  text-decoration: none;
  transition: 0.3s all ease;
}

button#logout-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s all ease;
  cursor: pointer;
}

button#logout-btn:hover {
  background-color: #640707;
  transition: 0.3s all ease;
}

.nav .nav__links a:hover {
  color: dodgerblue;
  transition: 0.3s all ease;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  background-color: var(--chart-color);
  border-radius: 5px;
  padding: 5px;
}

.chart h1 span {
  font-size: 2rem;
}

.chart .chart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 10px 0 0;
}

.chart .chart-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 10px 10px 0;
}

#response-time-card,
#total-requests-card {
  min-width: 48%;
  height: 370px;
}

#total-requests-card,
#data-in-card,
#data-out-card {
  min-width: 32%;
  height: 370px;
  margin: 10px 10px;
}

.system-details {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--card-color);
  background: linear-gradient(145deg, #0d1117, #131826);
}

.system-details .system-properties {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  min-width: 500px;
}

.system-details .system-properties h2 {
  margin-bottom: 20px;
}

.system-details .system-properties table {
  width: 100%;
  border: 1px solid #55555599;
  border-top: none;
  border-left: none;
}

.system-details .system-properties table td {
  min-width: 100px;
  text-align: left;
  padding: 2px 20px;
  border-top: 1px solid #55555599;
  border-left: 1px solid #55555599;
}

.system-details .system-properties table td.left-td {
  text-align: right;
}

.system-details .system-properties table span {
  color: var(--subtitle-color);
  font-size: 1.6rem;
}

.system-details .system-properties table span.pop {
  background-color: var(--hightlight-color);
  border-radius: 3px;
  padding: 3px 5px;
  color: black;
  margin: 2px;
}

.summary-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.summary-bar .summary-bar__total__services {
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

.summary-bar .summary-bar__total__instances {
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

.summary-bar .summary-bar__total__services h2 {
  color: var(--subtitle-color);
  font-size: 2rem;
  font-weight: 500;
}

.summary-bar .summary-bar__total__services h2 span {
  font-size: 8rem;
  font-weight: 700;
  color: white;
}

.summary-bar .summary-bar__total__instances h2 {
  color: var(--subtitle-color);
  font-size: 2rem;
  font-weight: 500;
}

.summary-bar .summary-bar__total__instances h2 span {
  font-size: 8rem;
  font-weight: 700;
  color: white;
}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.service-container h1 {
  margin: 10px 20px;
  font-size: 3rem;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}

.no-services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--card-color);
  background: linear-gradient(145deg, #0d1117, #131826);
  padding: 10px;
  border-radius: 20px;
  margin: 10px 20px;
}

.no-services h3 {
  font-weight: 400;
}

/* service card */
.service-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--card-color);
  background: linear-gradient(145deg, #0d1117, #131826);
  border-radius: 10px;
  /* box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2); */
  padding: 20px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.service-card:hover {
  background: #1a1f2c;
  transition: 0.3s all ease;
}

.service-card .service-card__title__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.service-card .service-card__title__bar span {
  text-transform: capitalize;
  background-color: dodgerblue;
  color: black;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 1.3rem;
  font-weight: 500;
}

.service-card h2 {
  color: #fff;
  font-size: 3rem;
}

.service-card p {
  color: #fff;
  font-size: 1.6rem;
}

.service-card p.service-card__id {
  color: #aaa;
  margin-bottom: 10px;
}

.service-card span.service-card__ic {
  background-color: dodgerblue;
  color: black;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 1.4rem;
  margin-right: 5px;
}

.service-card span.service-card__uc {
  background-color: limegreen;
  color: #000;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 1.4rem;
}

.service-card p.service-card__mapping {
  text-decoration: underline;
  color: rgb(39, 104, 236);
  margin-top: 10px;
}

/* // node card styling */
.node-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 600px;
  align-items: flex-start;
}

.no-instances {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--card-color);
  background: linear-gradient(145deg, #0d1117, #131826);
  padding: 10px;
  border-radius: 20px;
  margin: 10px 20px;
}

.no-instances h3 {
  font-weight: 400;
}

.nodes-grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px 0;
  padding: 0px 5px;
  border-radius: 5px;
  height: 350px;
}

.node-container .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 0px;
}

.node-container .container .instance-chart {
  height: 350px;
  width: 100%;
}

.node-container h1 {
  margin: 5px 20px;
  font-size: 3rem;
}

.node {
  width: 300px;
  height: 270px;
  border-radius: 10px;
  background-color: var(--card-color);
  background: linear-gradient(145deg, #0d1117, #131826);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.node:hover {
  background: #1a1f2c;
  transition: 0.3s all ease;
}

.node .node__title__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.node .node__title__bar h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}

.node .node__title__bar span {
  background-color: lime;
  color: black;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 1.3rem;
  font-weight: 500;
}

.node table {
  margin-top: 20px;
}

.node span {
  font-size: 1.6rem;
  color: var(--subtitle-color);
  font-weight: 500;
}

.node table span {
  font-weight: 500;
  color: var(--subtitle-color);
}

.node__selected {
  border: 2px solid dodgerblue;
}

#instance-cpu-resource-card,
#instance-mem-resource-card {
  display: none;
  width: 100%;
  height: 320px;
  margin: 0 20px;
}
